<!DOCTYPE html>

<html lang="ua">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/css/navbar.css" >
		<title>Навігація</title>
		<!--<link rel="stylesheet" href="{{ STATIC_URL }}navbar.css" type="text/css">-->
		<link href="https://fonts.googleapis.com/css?family=Poiret+One|Russo+One" rel="stylesheet">
	</head>
	<header>
		<a href="{% url 'home' %}"><h1 class="titletext">ОСББ <span class="titletext2">КАРАДЖИЧА, 29</span></h1></a>
		<nav>
			<ul>
				<li><a href="{% url 'home' %}" class="navbutton">Головна</a></li>
				<li><a href="{% url 'information' %}" class="navbutton">Інформація</a></li>
				<li><a href="{% url 'regulations' %}" class="navbutton">Статут</a></li>
				<li><a href="{% url 'contacts' %}" class="navbutton">Контакти</a></li>
				<li><a href="#" class="navbutton">Увійти</a></li>
			</ul>
		</nav>
	</header>
</html>